<h1>Editing country data final</h1>

<%= render "form", country_data_final: @country_data_final %>

<br>

<div>
  <%= link_to "Show this country data final", @country_data_final %> |
  <%= link_to "Back to country data finals", country_data_finals_path %>
</div>
