<p style="color: green"><%= notice %></p>

<div class="w3-container w3-pale-green w3-cursive" style="font-size: 25px;">
<h1 class="w3-cursive" style="font-size: 50px; font-weight: bold;">Country data finals</h1>

<div id="country_data_finals">
  <% @country_data_finals.each do |country_data_final| %>
    <%= render country_data_final %>
    <p>
      <%= link_to "Show this country data final", country_data_final %>
    </p>
  <% end %>
</div>

<%= link_to "New country data final", new_country_data_final_path %>
</div>